table , td, th {
    border: solid 1px black;
    border-collapse: collapse;
}

td, th {
    width: 120px;
    text-align: center;
}

th{
    background-color: rgb(77, 182, 182);
}

td {
    background-color: azure;
}